@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes down_up {
  0% {
    transform: translateZ(-100%);
  }
  100% {
    transform: translateZ(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, a, h1, h2, h3, h4, h5, h6, label, input, button {
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;
  background-color: #D5DBDB;
}
header .container__logo {
  padding: 10px;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  animation-name: aparecer;
  animation-duration: 2s;
}
header .container__logo a {
  text-decoration: none;
}
header .container__logo .logo {
  height: 35px;
  font-size: 35px;
  font-weight: 700;
  color: #283747;
}
header .container__logo .logo .servicios {
  font-weight: 900;
  color: blueviolet;
}
header .container__logo .sublogo {
  height: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #283747;
}
header .container__numerotelefono {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .container__numerotelefono h5 {
  font-size: 45px;
  font-weight: 800;
  color: white;
  text-shadow: 3px 3px 6px black;
}

@media (min-width: 1024px) {
  header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .container__nav {
    margin-inline-start: 50px;
  }
}
.container__footer {
  width: 100%;
  height: 400px;
  background-color: #95A5A6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container__footer .container__footer__logo {
  padding: 10px;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  animation-name: aparecer;
  animation-duration: 2s;
}
.container__footer .container__footer__logo a {
  text-decoration: none;
}
.container__footer .container__footer__logo .logo {
  height: 35px;
  font-size: 35px;
  font-weight: 700;
  color: #283747;
}
.container__footer .container__footer__logo .logo .servicios {
  font-weight: 900;
  color: blueviolet;
}
.container__footer .container__footer__logo .sublogo {
  height: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #283747;
}
.container__footer .container__numerotelefono {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container__footer .container__numerotelefono h5 {
  font-size: 45px;
  font-weight: 800;
  color: #D5DBDB;
  text-shadow: 3px 3px 6px black;
}
.container__footer .container__numerotelefono .butllamar {
  text-align: center;
  margin: 5px;
  width: 130px;
  padding: 10px;
  border-radius: 20px;
  background-color: blueviolet;
  color: #D5DBDB;
  list-style-type: none;
  display: inline-block;
  box-shadow: 2px 2px 2px black;
}
.container__footer .container__numerotelefono .butllamar:hover {
  background-color: rgb(150, 90, 206);
  box-shadow: 2px 2px 2px rgb(57, 57, 57);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .container__hero {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/img/banio.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .container__hero h1 {
  animation-name: aparecer;
  animation-duration: 2s;
  text-align: center;
  max-width: 80%;
  font-size: 25px;
  color: #D5DBDB;
  text-shadow: 1px 1px 2px black;
  background-color: rgba(0, 0, 0, 0.652);
  border-radius: 30px 0px 30px 0px;
  padding: 20px;
  border: 5px solid blueviolet;
}
@media (min-width: 1024px) {
  main .container__hero h1 {
    font-size: 35px;
  }
}
main .container__hero h1 span {
  color: blueviolet;
}
main .container__hero .butllamar {
  text-align: center;
  margin: 5px;
  width: 130px;
  padding: 10px;
  border-radius: 20px;
  background-color: blueviolet;
  color: #D5DBDB;
  list-style-type: none;
  display: inline-block;
  box-shadow: 2px 2px 2px black;
}
main .container__hero .butllamar:hover {
  background-color: rgb(150, 90, 206);
  box-shadow: 2px 2px 2px rgb(57, 57, 57);
}
main .container__ofrecemos {
  animation-name: aparecer;
  animation-duration: 2s;
  padding: 20px;
  width: 100%;
  height: 700px;
  background-color: #D5DBDB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .container__ofrecemos .contenedor__h2 {
  max-width: 80%;
}
main .container__ofrecemos .contenedor__h2 h2 {
  text-align: center;
  font-size: 35px;
  text-shadow: 1px 1px 1px black;
  color: white;
}
main .container__ofrecemos .contenedor__h2 h2 span {
  color: blueviolet;
}
@media (max-width: 1024px) {
  main .container__ofrecemos .contenedor__h2 h3 {
    display: none;
  }
}
@media (min-width: 1024px) {
  main .container__ofrecemos .contenedor__h2 h2 {
    display: none;
  }
  main .container__ofrecemos .contenedor__h2 h3 {
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
    color: white;
  }
  main .container__ofrecemos .contenedor__h2 h3 span {
    color: blueviolet;
  }
}
main .container__ofrecemos .contenedor__texto__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
main .container__ofrecemos .contenedor__texto__img p {
  text-align: center;
  max-width: 75%;
  font-weight: 300;
}
main .container__ofrecemos .contenedor__texto__img img {
  max-width: 40%;
}
@media (min-width: 945px) {
  main .container__ofrecemos .contenedor__texto__img img {
    max-width: 30%;
  }
}
@media (min-width: 1024px) {
  main .container__ofrecemos .contenedor__texto__img {
    margin-top: 60px;
    flex-direction: row;
  }
  main .container__ofrecemos .contenedor__texto__img img {
    max-width: 300px;
    margin-left: 50px;
  }
  main .container__ofrecemos .contenedor__texto__img p {
    max-width: 400px;
    margin-right: 50px;
    font-size: 25px;
  }
}
main .container__zonas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 800px;
  background-color: #c0c5c5;
}
main .container__zonas .container__mapa {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .container__zonas .container__mapa h3 {
  text-align: center;
  font-size: 35px;
  text-shadow: 1px 1px 1px black;
  color: white;
  margin-bottom: 10px;
}
main .container__zonas .container__mapa h3 span {
  color: blueviolet;
}
main .container__zonas .container__mapa h4 {
  text-align: center;
  font-size: 35px;
  text-shadow: 1px 1px 1px black;
  color: white;
  margin-bottom: 10px;
}
main .container__zonas .container__mapa h4 span {
  color: blueviolet;
}
@media (max-width: 1023px) {
  main .container__zonas .container__mapa h4 {
    display: none;
  }
}
@media (min-width: 1024px) {
  main .container__zonas .container__mapa h3 {
    display: none;
  }
}
main .container__zonas .container__mapa .mapa {
  border-radius: 20px;
  min-width: 100%;
  height: 450px;
  border: 5px solid blueviolet;
}
@media (min-width: 1024px) {
  main .container__zonas .container__mapa .mapa {
    min-width: 70%;
  }
}
main .container__zonas p {
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 300;
}
main .container__zonas p span {
  color: blueviolet;
}
main .container__zonas .parrafo1 {
  margin-top: 20px;
  font-weight: 600;
}
main .container__servicios {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #D5DBDB;
  padding: 30px 0;
}
main .container__servicios h3 {
  text-align: center;
  font-size: 35px;
  text-shadow: 1px 1px 1px black;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .container__servicios h3 span {
  color: blueviolet;
}
main .container__servicios .contenedor__cartas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  min-width: 70%;
  max-width: 90%;
  height: 500px;
  border-radius: 30px 0px 30px 0px;
  padding: 20px;
  background-image: linear-gradient(#c0c5c5 50%, #95A5A6 90%);
  box-shadow: 3px 3px 10px rgb(116, 115, 115);
}
main .container__servicios .contenedor__cartas h4 {
  color: #D5DBDB;
  font-size: 35px;
  text-shadow: 2px 2px 2px #839192;
}
main .container__servicios .contenedor__cartas img {
  width: 200px;
  min-width: 60%;
  max-width: 50%;
  display: inline-block;
  height: auto;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 3px 3px 6px #839192;
}
main .container__servicios .contenedor__cartas p {
  max-width: 90%;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}
@media (min-width: 1024px) {
  main .container__servicios .contenedor__cartas {
    display: grid;
    grid-template-areas: "titulo titulo" "imagen texto";
    min-width: 50%;
  }
  main .container__servicios .contenedor__cartas h4 {
    grid-area: titulo;
  }
  main .container__servicios .contenedor__cartas img {
    min-width: none;
    max-width: none;
    width: 500px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    grid-area: imagen;
  }
  main .container__servicios .contenedor__cartas p {
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    grid-area: texto;
    font-weight: 300;
  }
}

/*# sourceMappingURL=style.css.map */
