main{
    @include flex-center-center;
    flex-direction: column;
    .container__hero{
        width: 100%;
        height: 500px;
        @include flex-center-center;
        flex-direction: column;
        background-image: url(../../assets/img/banio.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            @include aparece;
            text-align: center;
            max-width: 80%;
            font-size: 25px;
            color: $color-primario;
            text-shadow: 1px 1px 2px black;
            background-color: rgba(0, 0, 0, 0.652);
            border-radius: 30px 0px 30px 0px;
            padding: 20px;
            border: 5px solid $color-letra2;
            @media (min-width: 1024px){
                font-size: 35px;
            }
            span{
                color: $color-letra2;
            }
        }
        .butllamar{
            text-align: center;
            margin: 5px;
            width: 130px;
            padding: 10px;
            border-radius: 20px;
            background-color: $color-letra2;
            color: $color-primario;
            list-style-type: none;
            display: inline-block;
            box-shadow: 2px 2px 2px black;
            &:hover{
                background-color: rgb(150, 90, 206);
                box-shadow: 2px 2px 2px rgb(57, 57, 57);
            }
        }
    }
    .container__ofrecemos{
        @include aparece;
        padding: 20px;
        width: 100%;
        height: 700px;
        background-color: $color-primario;
        @include flex-center-center;
        flex-direction: column;
        .contenedor__h2{
            max-width: 80%;
            h2{
                text-align: center;
                font-size: 35px;
                text-shadow: 1px 1px 1px black;
                color: white;
                span{
                    color: $color-letra2
                }
            }
            @media (max-width:1024px) {
                h3{
                    display: none
                }
            }

            @media (min-width:1024px) {
                h2{
                    display: none
                }
                h3{
                    text-align: center;
                    font-size: 35px;
                    text-shadow: 1px 1px 1px black;
                    color: white;
                    span{
                        color: $color-letra2
                    }
                }
            }

        }
        .contenedor__texto__img{
            @include flex-center-center;
            flex-direction: column;
            margin-top: 50px;
            p{
                text-align: center;
                max-width: 75%;
                font-weight: 300;
            }
            img{
                max-width: 40%;
                @media (min-width: 945px) {
                    max-width: 30%;
                }

            }
            @media (min-width: 1024px){
                margin-top: 60px;
                flex-direction: row;
                img{
                    max-width: 300px;
                    margin-left: 50px;
                }
                p{
                    max-width: 400px;
                    margin-right: 50px;
                    font-size: 25px
                }
            }
        }
    }
    .container__zonas{
        @include flex-center-center;
        flex-direction: column;
        width: 100%;
        height: 800px;
        background-color: $color-primario2;
        .container__mapa{
            padding: 20px;
            width: 100%;
            @include flex-center-center;
            flex-direction: column;
            h3{
                text-align: center;
                font-size: 35px;
                text-shadow: 1px 1px 1px black;
                color: white;
                margin-bottom: 10px;
                span{
                    color: $color-letra2
                }
            }
            h4{
                text-align: center;
                font-size: 35px;
                text-shadow: 1px 1px 1px black;
                color: white;
                margin-bottom: 10px;
                span{
                    color: $color-letra2
                }
        }
            @media (max-width:1023px){
                h4{
                    display: none;
                }
            }
            @media (min-width:1024px){
                h3{
                    display: none;
                }
            }
            .mapa{
                border-radius: 20px;
                min-width: 100%;
                height: 450px;
                border: 5px solid blueviolet;
            }
            @media (min-width:1024px){
                .mapa{
                    min-width: 70%;
                }
            }
        }
        p{
            text-align: center;
            color: black;
            font-size: 20px;
            font-weight: 300;
            span{
                color: $color-letra2;
            }
        }
        .parrafo1{
            margin-top: 20px;
            font-weight: 600;
        }
    }
    .container__servicios{
        width: 100%;
        height: auto;
        @include flex-center-center;
        flex-direction: column;
        background-color: $color-primario;
        padding: 30px 0;
        h3{
            text-align: center;
            font-size: 35px;
            text-shadow: 1px 1px 1px black;
            color: white;
            margin-top: 20px;
            margin-bottom: 20px;
            span{
                color: $color-letra2
            }
        }
        .contenedor__cartas{
            @include flex-center-center;
            flex-direction: column;
            margin: 10px 0;
            padding: 20px;
            text-align: center;
            min-width:70%;
            max-width: 90%;
            height: 500px;
            border-radius: 30px 0px 30px 0px;
            padding: 20px;
            background-image: linear-gradient( $color-primario2 50%,
            $color-tercero 90%);
            box-shadow: 3px 3px 10px rgb(116, 115, 115);
            h4{
                color: $color-primario;
                font-size: 35px;
                text-shadow: 2px 2px 2px $color-secundario;
            }
            img{
                width: 200px;
                min-width: 60%;
                max-width: 50%;
                display: inline-block;
                height: auto;
                margin: 20px auto;
                border-radius: 20px;
                box-shadow: 3px 3px 6px $color-secundario;
            }
            p{
                max-width: 90%;
                text-align: center;
                font-size: 15px;
                font-weight: 300;
            }
        }
        @media (min-width:1024px){
            .contenedor__cartas{
                display: grid;
                grid-template-areas: 
                "titulo titulo"
                "imagen texto"
                ;
                min-width: 50%;
                h4{
                    grid-area: titulo;
                }
                img{
                    min-width: none;
                    max-width: none;
                    width: 500px;
                    height: auto;
                    display: inline-block;
                    margin: 0 auto;
                    grid-area: imagen;
                }
                p{
                    margin: 0 auto;
                    text-align: center;
                    font-size: 25px;
                    grid-area: texto;
                    font-weight: 300;
                }
            }
        }
    }
}