@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes aparecer{
    0%{
        opacity: (0);
    }
    100%{
        opacity: (1);
    }
}

@mixin aparece{
    animation-name: aparecer;
    animation-duration: 2s;
}



//ver animacion
@keyframes down_up{
    0%{
        transform: translateZ(-100%);
    }
    100%{
        transform: translateZ(0);
    }
}

//se llama la animacion con la propiedad:  
// animation: name_de_la_animacion 1s ease-out;

