@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes aparecer{
    0%{
        opacity: (0);
    }
    100%{
        opacity: (1);
    }
}

@mixin aparece{
    animation-name: aparecer;
    animation-duration: 2s;
}


@keyframes derecha_izquerda{
    from{
        transform: translate(-100px);
    }
    to{
        transform: translate(100px);
    }
}

@mixin moverse{
    animation-name: derecha_izquierda;
    animation-duration: 3s;
}